@{
    ViewData["Title"] = "Results - Is It CG?";
}
@model MatchResults

<div><h2 style="color:blue;">Answer: @ViewData["result"]</h2></div>

@foreach (var match in Model.Matches)
{
    <div>
        <h3>@match.Name</h3>
        <div>@match.Description</div>
        <ul>
        @foreach (var item in @match.Ingredients)
        {
            <li>@item</li>
        }
        </ul>
    </div>
}