@{
    ViewData["Title"] = "Results - Is It CG?";
}
@model MatchResults

<div class="jumbotron">
    <h1 class="display-3">Is it CG?</h1>
    <h2 style="color:blue;">Answer: @Model.Result</h2>
    <p><a href="/" class="btn btn-primary btn-lg" role="button">
        <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span> Start Over
    </a></p>
</div>

@foreach (var match in Model.Matches)
{
    <div class="panel panel-@match.Result">
    <!-- Default panel contents -->
    <div class="panel-heading uppercase">@match.Result</div>
    <div class="panel-body">
        <h4 class="card-title">@match.Name</h4>
        <p class="card-text">@match.Description</p>
    </div>

    <!-- List group -->
    <ul class="list-group">
        @foreach (var item in @match.Ingredients)
        {
            <li class="list-group-item">@item</li>
        }
    </ul>
    </div>
}

<div class="panel panel-primary">
    <!-- Default panel contents -->
    <div class="panel-heading uppercase">Probably OK</div>
    <div class="panel-body">
        <h4 class="card-title">Remaining Ingredients</h4>
        <p class="card-text">These ingredients are either OK to use, or weren't an exact match for those to avoid.</p>
    </div>

    <!-- List group -->
    <ul class="list-group">
        @foreach (var item in Model.Remainder)
        {
            <li class="list-group-item">@item</li>
        }
    </ul>
</div>
